.title {
    font-size: 50px;
    font-family: cursive;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.page {
    background-color: aliceblue;
}

.newlist {
    align-content: center;
}
.toDoList {
    color: black;
    float: left;
    padding-top: 40px;
    float: left;
}


.toDoList i {
    cursor: pointer;
}

.newListInput {
    text-align: center;
}

.newListInput i {
    cursor: pointer;
}

.stylesTable {
    margin: auto;
    width: 30% !important;
}

.input {
   padding-top: 20px;
   text-align: center; 
}

.pointer {
    cursor: pointer;
}

.striked {
    text-decoration: line-through;
}
